        * {
            padding: 0;
            margin: 0;
        }
        
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
        
        .navbar-inverse {
            background: black;
            border: none;
        }
        
        .fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }
        
        .about_page {
            background: url(../images/a1.jpg) center center no-repeat;
            background-size: cover;
            width: 100%;
            height: 100vh;
            padding-top: 150px;
        }
        
        figure:hover {
            transform: scale(1.08);
            box-shadow: 0 13px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
        }
        
        figure {
            transition: transform .5s;
        }
        
        .icons {
            color: rgb(38, 128, 189) !important;
            margin-bottom: 4rem;
        }
        
        .icons :hover {
            color: rgb(12, 78, 122) !important;
        }
        
        * {
            font-family: 'Bebas Neue', cursive;
            font-family: 'Josefin Sans', sans-serif;
            font-family: 'Merriweather', serif;
            font-family: 'Orelega One', cursive;
            font-family: 'Oswald', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-family: 'Source Serif Pro', serif;
            font-family: 'Yanone Kaffeesatz', sans-serif;
        }
        /* Style the search field */
        
        form.example input[type=text] {
            padding: 6px;
            font-size: 14px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }
        /* Style the submit button */
        
        form.example button {
            float: left;
            width: 20%;
            padding: 3.4px;
            background: gray;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            /* Prevent double borders */
            cursor: pointer;
        }
        
        form.example button:hover {
            background: #0b7dda;
        }
        /* Clear floats */
        
        form.example::after {
            content: "";
            clear: both;
            display: table;
        }
        
        .breadcrumb {
            padding: 3rem 1rem 1rem;
        }
        
        .j33 {
            /* transform: translatey(50%); */
            border-radius: 50%;
            overflow: hidden;
            transition-duration: 0.8s;
            transition-property: transform;
        }
        
        .j33:hover {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }
        
        .tr1 {
            transform: translatey(100%);
            padding-left: 150px;
        }
        
        .hov2 {
            border-radius: 50%;
            overflow: hidden;
            transition-duration: 0.8s;
            transition-property: transform;
        }
        
        .hov2:hover {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }
        
        .tr2 {
            transform: translatey(100%);
            padding-left: 150px;
        }
        
        .hov3 {
            border-radius: 50%;
            overflow: hidden;
            transition-duration: 0.8s;
            transition-property: transform;
        }
        
        .hov3:hover {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }
        
        .tr3 {
            transform: translatey(230px);
        }